name: Agendator

on:
  workflow_dispatch:
  schedule:
    - cron: '0 10 * * *'

jobs:
  agendator:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          cache: pip
      - run: pip install -r requirements.txt
      - run: python main.py -u "${{ secrets.Username }}" -p "${{ secrets.Password }}"
